html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: beige;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
